.header{
    padding:1em;
    color: white;
    background-color: black;
    clear:left;
    text-align: center;
    height: 5vh;
}
.nav {
    float:left;
    margin: 0;
    height: 100%;
    width: 10%;
    height:90vh;
}

.footer{
    padding:1em;
    color: white;
    background-color: black;
    clear:left;
    text-align: center; 
    height: 5vh;
}

.wrapper{
    display: flex;  
    flex-direction: column;
    font-weight: bold;
    text-align: center;
    flex:3;
}

.wrapper_content{
    display: flex;  
    flex-direction: row;
    font-weight: bold;
    text-align: center;
    clear: both;
    height: 90vh;
    flex:1;
}

.content-inner{
    width:90%;
}

.table_frame{
    margin: 1%;
    padding: 1%;
    background-color: #b5ccba;
    border-radius: 0.5em;
    height: 50%;
}

.title{
    font-size: 15px;
    padding: 1%;
    display:flex;
    flex-direction: row; 
}
.title-left{
    text-align: left;
    width:20%;
}
.title-right{
    min-width: 80%;
    text-align: right;
}
